= form_for @patient do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li= msg

  .row
    .column.medium-4
      = f.label :reg_no
      = f.text_field :reg_no, required: true
    .column.medium-4
      = f.label :birth_year
      = f.select :birth_year, (1900..Date.today.year).to_a.reverse, { include_blank: true }, required: true
    .column.medium-4
      = f.label :gender
      = f.select :gender, Patient::Genders, { include_blank: true }, required: true
  .row.column
    .actions
      = f.submit 'Save', class: 'button'
