.row.column
  .table-scroll
  %table.hover
    %thead
      %tr
        %th Reg no
        %th Birth year
        %th Gender
        %th
  
    %tbody
      - @patients.each do |patient|
        %tr
          %td= patient.reg_no
          %td= patient.birth_year
          %td= patient.gender
          %td= index_links(patient)

.row.column
  = link_to 'New Patient', new_patient_path, class: 'button'
