
= form_for @operation_record do |f|
  - if @operation_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@operation_record.errors.count, "error")} prohibited this operation_record from being saved:"
      %ul
        - @operation_record.errors.full_messages.each do |msg|
          %li= msg

  .row
    .column.medium-6
      .date-select
        = f.label :operation_date
        = f.date_select :operation_date, { start_year: DateTime.now.year, end_year: DateTime.now.year - 50,
                                         order: [:month, :day, :year], prompt: true }, required: true
    .column.medium-6
      #patient-wrap.input-group
        #patient-select
          = f.label :patient_id
          = f.select :patient_id, Patient.all.collect { |p| [p.reg_no, p.id] }, 
                                  { prompt: 'Select patient reg number' }, required: true, class: 'input-group-field'
        .input-group-button.v-align-bottom.nowrap
          = link_to_add_association 'Add new patient', f, :patient, class: 'button'#, data: { association_insertion_node: '#patient-new' }
        -##patient-new
  .row
    .column.medium-6
      = f.label :primary_surgeon_id
      = f.select :primary_surgeon_id, Doctor.all.collect { |d| [d.full_name, d.id] }, 
                                      { prompt: 'Select primary surgeon' }, required: true
    .column.medium-6
      = f.label :anesthesiologist_id
      = f.select :anesthesiologist_id, Doctor.all.collect { |d| [d.full_name, d.id] }, 
                                       { prompt: 'Select anesthesiologist' }, required: true
    
  .row
    .column.medium-6
      = f.label :additional_surgeon_ids, 'Additional Surgeons'
      = f.select :additional_surgeon_ids, Doctor.all.collect { |d| [d.full_name, d.id] }, {}, 
                                           multiple: true, required: true
    .column.medium-6
      = f.label :procedures
      = f.select :procedures, OperationRecord::Procedures, {}, 
                              multiple: true, required: true

  .row
    .column.medium-4
      = f.label :case_type
      = f.select :case_type, OperationRecord::CaseTypes, { prompt: 'Select case type' }, 
                             required: true
    .column.medium-4
      = f.label :reoperation
      = f.select :reoperation, [['True', true], ['False', false]], { prompt: 'Select...' }, required: true
    .column.medium-4
      = f.label :duration
      = f.select :duration, OperationRecord.op_durations, { prompt: 'Select duration' }, required: true
  
  .row
    .column.medium-6
      = f.label :pre_op_diagnosis
      = f.text_area :pre_op_diagnosis, rows: 6, placeholder: 'Enter pre operation diagnosis', required: true
    .column.medium-6
      = f.label :post_op_diagnosis
      = f.text_area :post_op_diagnosis, rows: 6, placeholder: 'Enter post operation diagnosis', required: true

  .row.column
    .actions
      = f.submit 'Save'
