#leftMenu.off-canvas.position-left.reveal-for-large{ 'data-off-canvas' => true }

  %ul.vertical.menu
    %li
      = link_to root_path do
        %i.fi-home
        %span Home
    
    %li
      = link_to patients_path do
        %i.fi-torsos-all
        %span Patients
    
    %li
      = link_to doctors_path do
        %i.fi-torsos
        %span Doctors

    %li
      = link_to operation_records_path do
        %i.fi-page-multiple
        %span Operation Records

    %li
      = link_to complications_path do
        %i.fi-alert
        %span Complications
