!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= page_title

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    -#= javascript_include_tag 'https://code.getmdl.io/1.1.3/material.min.js', defer: true
    = csrf_meta_tags

  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{ 'data-off-canvas-wrapper' => true }
        = render 'layouts/navigation'        
        
        .off-canvas-content{ 'data-off-canvas-content' => true }
          .title-flash-wrapper
            .title-bar
              .title-bar-left
                %button.menu-icon.hide-for-large{"data-open" => "leftMenu", :type => "button"}
                %span.title-bar-title= page_title
            - flash.each do |key, value|
              .flash{ class: key }
                = value
              
          = yield
